@use "pages" as *;

@font-face {
  font-family: Montserrat;
  src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url(../Fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../Fonts/Rubik-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}
